.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

th {
  display: table-cell;
  font-weight: bold;
  border: 1px solid gray;
}

table thead th {
  vertical-align: bottom;
}

table thead th {
  vertical-align: bottom;
}
table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
}

td {
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid gray;
}

.pagination {
  display: inline-block;
  background-color: #282c34;
  width: 100%;
  max-width: 100%;
  color: white;
}

button {
  margin: .25rem;
}